services:
  network-element:
    image: wiremock/wiremock:3.13.2-alpine@sha256:eaeb9941dd303e284179e2661ff4101264f8b741f2afa9cd0cafbc8ff71029dc
    platform: linux/amd64
    environment:
      WIREMOCK_OPTIONS: |
        --https-port 443
        --verbose

        --keystore-type PKCS12
        --https-keystore /mutual-tls-stores/network-element-keystore.p12
        --keystore-password changeit
        --key-manager-password changeit

        --truststore-type JKS
        --https-truststore /mutual-tls-stores/network-element-truststore.jks
        --truststore-password changeit

        --https-require-client-cert
    ports:
      - "443:443"
      - "8082:8080"
    networks:
      - li-network
    volumes:
      - "./docker/network-element:/home/wiremock"
      - "mutual-tls-stores:/mutual-tls-stores"
    depends_on:
      init-wiremock-certs:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "echo -e 'GET /__admin/health HTTP/1.1\r\nHost: localhost\r\nConnection: close\r\n\r\n' | nc localhost 8080 | grep 'HTTP/1.1 200 OK'",
        ]
      timeout: 1s
      start_period: 8s
      interval: 1s

  init-wiremock-certs:
    image: eclipse-temurin:25-alpine
    volumes:
      - "./docker/init-mutual-tls:/init-mtls"
      - "mutual-tls-stores:/mutual-tls-stores"
    command:
      - "/init-mtls/create-wiremock-stores.sh"
    depends_on:
      init-admf-x1-stores:
        condition: service_completed_successfully
      init-ne-x1-stores:
        condition: service_completed_successfully

  init-admf-x1-stores:
    image: eclipse-temurin:25-alpine
    volumes:
      - "./docker/init-mutual-tls:/init-mtls"
      - "mutual-tls-stores:/mutual-tls-stores"
    environment:
      ROLE: "simulator"
      COMMON_NAME: "simulator"
    command:
      - "/init-mtls/create-certificates.sh"

  init-ne-x1-stores:
    image: eclipse-temurin:25-alpine
    volumes:
      - "./docker/init-mutual-tls:/init-mtls"
      - "mutual-tls-stores:/mutual-tls-stores"
    environment:
      ROLE: "network-element"
      COMMON_NAME: "network-element"
    command:
      - "/init-mtls/create-certificates.sh"

volumes:
  mutual-tls-stores:

networks:
  li-network:
    name: li-network
